body{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: silver;
}
#form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}
#name-input{
    border-radius: 10px;
    background-color: skyblue;
    height: auto;
    font-size: 2em;
}
name-display{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}
#save-button, #load-button{
    width: 100%;
    border-radius: 10px;
    background-color: blue;
    color: lime;
    height: auto;
    font-size: 1.5em;
}
#key{
    display: flex;
    flex-direction: column;
    height: 20%;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
.red{
    color: red;
}
.purple{
    color: purple;
}